.main {
  margin: 2.5rem auto;
  width:1300px;
  height:690px;
  padding: 10rem 4rem;
  background-image: url("/radix.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

}

.h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.connectbtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
